{#{% htmlcompress %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>بورصة العاصمة للبيض</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ THEMEURL }}/css/bootstrap-rtl.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=hanimation,dubai,sky-bold,smartman" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ THEMEURL }}/css/custom.css">
    <link rel="icon" sizes="32x32" href="{{ THEMEURL }}/favicon.ico">
</head>
<body class="rtl">
<div class="container bg-light p-0">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">بورصة العاصمة للبيض</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">الرئيسية <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="about.html">عن الشركة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="farm.html">المزارع</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="price-history.html">أرشيف الأسعار</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="share.html">التحديث اليومى</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">الإتصال بنا</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="bg-primary btn btn-sm m-1 text-white" href="https://www.facebook.com/%D8%A8%D9%88%D8%B1%D8%B5%D8%A9-%D9%85%D8%B5%D8%B1-%D9%84%D9%84%D8%A8%D9%8A%D8%B6-419462171727865/"><i class="fab fa-facebook-f"></i></a>
                <a class="bg-success btn btn-sm m-1 text-white" href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </nav>
    <div class="bg-danger text-white p-3">
        <div class="container">
            <h3>الصحراوي</h3>
        </div>
    </div>
    <!-- section -->
    <section class="bg-white">
        <div class="container">
            <div class="icons">
                <div class="icon-item p-0">
                    <div class="bg-danger text-white p-3">
                        <h4> معلومات المزرعه</h4>
                    </div>
                    <div class="img-holder p-2">
                        <img src="img/slide2.jpg" alt="">
                    </div>
                    <table class="table table-striped my-3 table-responsive w-100 d-block d-sm-table d-md-table text-center" border="1">
                        <thead>
                        <tr>
                            <th class ="text-center" scope="col">الصنف</th>
                            <th class ="text-center" scope="col">ابيض كبير</th>
                            <th class ="text-center" scope="col" colspan="2">ابيض وسط</th>
                            <th class ="text-center" scope="col" colspan="2">ابيض بشاير</th>
                            <th class ="text-center" scope="col">احمر كبير</th>
                            <th class ="text-center" scope="col">احمر وسط</th>
                            <th class ="text-center" scope="col">احمر بشاير</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class ="text-center" scope="row">الوزن</th>
                            <td>1:800</td>
                            <td>1:700</td>
                            <td>1:600</td>
                            <td>1:500</td>
                            <td>1:400</td>
                            <td>1:800</td>
                            <td>1:700</td>
                            <td>1:600</td>
                        </tr>
                        <tr>
                            <th class ="text-center" scope="row">السعر:بطاريات</th>
                            <td>29:00</td>
                            <td>28:75</td>
                            <td>28:00</td>
                            <td>28:00</td>
                            <td>28:00</td>
                            <td>29:00</td>
                            <td>28:75</td>
                            <td>28:00</td>
                        </tr>
                        <tr>
                            <th class ="text-center" scope="row">السعر:ارضي</th>
                            <td>28:50</td>
                            <td>28:25</td>
                            <td>28:00</td>
                            <td>28:00</td>
                            <td>28:00</td>
                            <td>28:50</td>
                            <td>28:25</td>
                            <td>28:00</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="bg-danger text-white p-3">
                <h4>ارشيف الاسعار</h4>
            </div>
            <table class="table table-striped table-responsive w-100 d-block d-sm-table d-md-table text-center" border="1">
                <thead>
                <tr>
                    <th class ="text-center" scope="col">تاريخ الاسعار</th>
                    <th class ="text-center" scope="col">ابيض كبير</th>
                    <th class ="text-center" scope="col" colspan="2">ابيض وسط</th>
                    <th class ="text-center" scope="col" colspan="2">ابيض بشاير</th>
                    <th class ="text-center" scope="col">احمر كبير</th>
                    <th class ="text-center" scope="col">احمر وسط</th>
                    <th class ="text-center" scope="col">احمر بشاير</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">2020-01-23 12:20 PM</td>
                    <td>29:00</td>
                    <td>28:75</td>
                    <td>28:00</td>
                    <td>28:00</td>
                    <td>28:00</td>
                    <td>29:00</td>
                    <td>28:75</td>
                    <td>28:00</td>
                </tr>
                <tr>
                    <td scope="row">2020-01-23 12:20 PM</td>
                    <td>29:00</td>
                    <td>28:75</td>
                    <td>28:00</td>
                    <td>28:00</td>
                    <td>28:00</td>
                    <td>29:00</td>
                    <td>28:75</td>
                    <td>28:00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- footer -->
    <footer id="footer" class=" p-5">
        <div class="container">
            <div class="row">
                <div class="contact-item col-md-6  text-white contact-item">
                    <h4 class="text-danger my-2">من نحن</h4>
                    <p class="text-left">تعمل الشركة منذ أكثر من 35 عاماً في مجال التجارة والتسويق حيث تتميز الشركة <br> بالمصداقية التامة والإلتزام في التعامل والجودة العالية ونتمنى من الله ان نبقى <br> دائما في حسن ظن عملائنا الكرام .</p>
                </div>
                <div class="contact-item col-md-3 ">
                    <h4 class="text-danger">روابط هامة</h4>
                    <div class="links-item">
                        <span class="text-white"><i class="fas fa-chevron-left"></i></span>
                        <h6><a class="text-white" href="index.html">الرئيسية</a></h6>
                    </div>
                    <div class="links-item">
                        <span class="text-white"><i class="fas fa-chevron-left"></i></span>
                        <h6><a class="text-white" href="about.html">تعرف علينا</a></h6>
                    </div>
                    <div class="links-item">
                        <span class="text-white"><i class="fas fa-chevron-left"></i></span>
                        <h6><a class="text-white" href="contact-us.html">أتصل بنا</a></h6>
                    </div>
                </div>
                <div class="contact-item col-md-3 text-white ">
                    <h4 class="text-danger my-2">تواصل معنا</h4>
                    <h6 class="my-3"><span class="mx-2"><i class="fas fa-phone-alt"></i></span> 01004556777</h6>
                    <h6><span class="mx-2"><i class="fas fa-envelope"></i></span>info@borset-masr.com</h6>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy-right">
        <div class="text-center text-white py-3">
            <p>جميع الحقوق محفوظة لـ بورصة العاصمة للبيض,<a href="https://i2servers.com" class="text-decoration-none text-white" target="_blank"> تصميم و تطوير <span class="text-danger"> i2servers</span></a></p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{ THEMEURL }}/js/custom.js"></script>
</body>
</html>
{#{% endhtmlcompress %}#}
